.body {
    margin: 0;
    font-family: 'Yandex Sans Text Regular', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow-y: hidden;
}

.search__link {
    color: grey;
}

.search-form {
    display: flex;
    width: 600px;
}

.search-form__label,
.search-form-button {
    position: relative;
}

.search-form__input {
    box-sizing: border-box;
    width: 525px;
    height: 40px;
    padding: 0;
    border: 0 solid transparent;
    border-right-width: 75px;
    border-left-width: 13px;
    outline: none;
}

.search-form__image {
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
}

.search-form__mic {
    top: 6px;
    right: 45px;
}

.search-form__keyboard {
    top: 13px;
    right: 15px;
}

.search-form-button__button {
    width: 83px;
    height: 100%;
    background-color: #ffdb4d;
    border: 4px solid #ffdb4d;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.search-form__label {
    border: 4px solid #ffdb4d;
}

.search-form-button__button:before {
    content: '';
    position: absolute;
    left: 83px;
    top: 0;
    border: 24px solid transparent;
    border-left: 15px solid #ffdb4d;
}

.search {
    position: relative;
}

.search-suggest {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 46px;
    left: 0;
    background-color: white;
    border: 2px solid #ffdb4d;
}


.search-suggest__button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border-width: 2px 0 0 0;
    border-color: #ffdb4d;
}

.search-suggest__button:nth-child(1) {
    border-width: 0;
}

.search-suggest__button:focus,
.search-suggest__button:hover {
    background-color: #ffdb4d;
}

.search-form-button__button:focus {
    background-color: white;
}