body {
    width: 1248px;
    height: 958px;
    border: 1px solid grey;
    display: grid;
    grid-template: "info nothing"
                    "lessons lessons"
                    "subscribe subscribe";
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    font-family: Arial, serif;
    padding: 50px;
    margin: 50px auto;
}

.info {
    grid-area: info;
}

.header-yandex {
    font-size: 40px;
    font-weight: normal;
}

.text-about {
    width: 559px;
    line-height: 30px;
    padding-right: 10px;
}

.wrapper-lessons {
    grid-area: lessons;
    display: flex;
    justify-content: space-between;
}

.lesson-img {
    width: 250px;
    height: 154px;
}

.lesson-header,
.subscribe-header {
    font-size: 30px;
    font-weight: normal;
    margin: 15px 0;
}

.lesson-info {
    width: 260px;
    line-height: 30px;
}

.wrapper-subscribe {
    grid-area: subscribe;
    border: 20px solid #FDD45F;
    width: 1120px;
    height: 221px;
    font-size: 0;
}

.subscribe-header {
    margin: 30px 0 0 30px;
}

.buttons-email-input {
    width: 743px;
    height: 60px;
    margin: 30px 0 0 30px;
    border: 1px solid #B5ACAC;
    font-size: 18px;
    padding: 5px;
}

.subscribe_button {
    width: 193px;
    height: 73px;
    background-color: #FDD45F;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    border: 0;
}