:root {
  --black-color-text: #002137;
  --pink-color: #ff4f67;
  --blue-color: #5e92ff;
  --yellow-color: #f9fa7f;
}

html, body {
  margin: 0;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "header" "content" "buttons";
  grid-gap: 10px;
  font: 16px "PT SansNarrow", sans-serif;
  overflow: hidden;
}

.murHeader {
  color: var(--black-color-text);
  font-size: 32px;
  width: 100%;
  text-align: center;
  background: white;
  padding: 15px 0;
  border-bottom: 1px lightgrey solid;
  margin: 0 auto;
  grid-area: header;
}

.murHeader:first-letter {
  color: red;
}

.imgHeader {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.boxCat {
  grid-area: content;
  width: 90vw;
  height: 90vw;
  max-width: 600px;
  max-height: 600px;
  position: relative;
  margin: 0 auto;
}

.textCat {
  margin: 0;
  position: absolute;
  bottom: 16px;
  left: 16px;
  text-align: left;
  color: white;
  font-size: 22px;
}

.imgCat {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.boxCat {
  display: none;
}

.cat-1 {
  display: block;
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: space-around;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}

.divImgButton {
  width: 13vw;
  height: 13vw;
  max-width: 87px;
  max-height: 87px;
}

.button {
  width: 100%;
  height: 100%;
}

.divImgButton {
  border-radius: 100px;
  border: 0;
  box-shadow: 0 0 10px black;
}

.pinkButton {
  background-color: var(--pink-color);
}

.blueButton {
  background-color: var(--blue-color);
}

.button:hover {
  cursor: pointer;
}
